<!DOCTYPE html>
<html>
<head>
  <title> Tela de Produtos </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Notebook's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Início <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<div class="container">
  <br/>
  <h3>Início</h3><h3>{%lbTitulo%}</h3>
  {%lbID%}<br />
  {%editID%}
  <br />
  {%lbNome%}<br /> 
  {%editNome%}    
  <br />
  {%lbValor%}<br />
  {%editValor%}
  <br />
  {%lbQuantidade%}<br />
  {%editQuantidade%}<br />
  <br/>
   {%btnAnterior%} {%btnProximo%}<br />
  <br />

</div>
<div class="container">
  {%btnNovo%} {%btnSalvar%} {%btnEditar%} {%btnExcluir%} {%btnCancel%}<br />
  <br />

  {%dbGrid%}
</div>
</body>
</html>

